* {
  box-sizing: border-box;
  /* border: solid 1px red; */
}
html {
  font-size: 100%;
}
body {
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: "Inter", sans-serif;
}

h3 {
  font-weight: 600;
  color: #101828;
}
P {
  font-weight: lighter;
}
.main {
  text-align: center;
  padding: 1.5rem 0 2rem;
  background-color: white;
}
.main--profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.main--links {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  height: 5.5rem;
  margin-bottom: 0.625rem;
  /* padding: 14px 32px; */
  background: white;
  border-radius: 0.5rem;
  border: none;
}

.btn {
  height: 5.625rem;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.btn:hover {
  cursor: pointer;
  background: #b8b9b9;
}
a {
  text-decoration: none;
  color: #101828;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

#slack {
  display: none;
}
#twitter {
  width: 21.4rem;
  height: 1.75rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin: 2rem;
}

#profile__img {
  width: 5.5rem;
  border-radius: 100%;
}
.sharebutton {
  width: 2.5rem;
  margin-left: auto;
}

.main--footer {
  padding: 1.6rem;
}
.slack {
  margin-right: 1.6rem;
}

.hng9 {
  color: #667085;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer {
  border-top: 0.5px solid black;
  border-top-style: dashed;
  padding: 3.125rem 0.625rem 2.19rem;
}
@media screen and (min-width: 51.25rem) {
  .btn {
    max-width: 51.25rem;
    margin: 0.625rem auto;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    width: 51.25rem;
    margin: 0 auto;
  }
  .footer > img {
    padding: 1.25rem;
  }

  .sharebutton {
    margin-left: 41.2rem;
  }
}
/* Contact me
 
-------------------------------------------
*/
