* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
}

h3 {
  font-weight: 600;
  color: #101828;
}
P {
  font-weight: lighter;
}
.main {
  text-align: center;
  padding: 24px 0px 32px;
  background-color: white;
}
.main--profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.main--links {
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  height: 88px;
  margin-bottom: 10px;
  /* padding: 14px 32px; */
  background: white;
  border-radius: 8px;
  border: none;
}

.btn {
  height: 90px;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.btn:hover {
  cursor: pointer;
  background: #b8b9b9;
}
a {
  text-decoration: none;
  color: #101828;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

#slack {
  display: none;
}
#twitter {
  width: 343px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  font-size: 28px;
  line-height: 28px;
  margin: 32px;
}

#profile__img {
  width: 88px;
  border-radius: 100%;
}
.sharebutton {
  width: 40px;
  margin-left: auto;
}

.main--footer {
  padding: 25px;
}
.slack {
  margin-right: 25px;
}

.hng9 {
  color: #667085;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer {
  border-top: 0.5px solid black;
  border-top-style: dashed;
  padding: 50px 10px 35px;
}
@media screen and (min-width: 820px) {
  .btn {
    max-width: 800px;
    margin: 10px auto;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
  }
  .footer > img {
    padding: 20px;
  }

  .sharebutton {
    margin-left: 755px;
  }
}
